<!-- Combo-handled YUI CSS files: -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/paginator/assets/skins/sam/paginator.css" />
<!-- Combo-handled YUI JS files: -->
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo-dom-event/yahoo-dom-event.js&2.7.0/build/datasource/datasource-debug.js&2.7.0/build/element/element-debug.js&2.7.0/build/datatable/datatable-debug.js&2.7.0/build/paginator/paginator-debug.js"></script>
<!-- needed for fetching data remotely -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-debug.js"></script>


