{% extends "base.html" %}

{% block more_active %} class="active" {% endblock %}
{% block title %} {{ block.super }} | Find out more {% endblock %}

{% block headingcol3 %}<h1>Learn more</h1>{% endblock %}

{% block main %}
<h2>Motivation</h2>
	<p class="no-indent">
The stakes in urban development have always been high and the associated complexity has consistently increased. The study of cities and their influence across borders has been around for some time, increasingly making reference to issues relating to geography, sociology, economics and politics. Initially studied by Peter Hall, two authors have set out two different research paths: Saskia Sassen 
focuses on the importance of advanced producer service firms while John Friedman
stresses the new international division of labour.
The study of global cities has recently moved to the analysis of an emergent global city network, work most closely associated with P.J. Taylor.</p>
	<p class="no-indent"><em>[Coming soon: please visit our forum to voice your opinion!]</em></p>
	<p class="no-indent"><h2>Selected authors</h2>
	<ul>
		<li>Saskia Sassen (www.sociology.columbia.edu/fac-bios/sassen/faculty.html)</li>
		<li>Peter Taylor (www.lboro.ac.uk/departments/gy/staff/gypjt/index.html)</li>
		<li>Richard Florida (www.creativeclass.com/)</li>
		<li>Peter Hall (www.bartlett.ucl.ac.uk/planning/people/profiles/p_hall.htm)</li>
		<li>Ben Derruder (http://we12v903.ugent.be/seg/people/derudder.php)</li>
		<li>J. V. Beaverstock (www.nottingham.ac.uk/geography/contacts/a-z/index.phtml?name=beaverstock)</li>
		<li>Paul L. Knox (www.uap.vt.edu/faculty/knox.html)</li>
		<li>John S. Ratcliffe (www.lincoln.ac.uk/aad/staff/ratcliffe.htm)</li>
		<li>Charles Leadbeater (www.charlesleadbeater.net/home.aspx)</li>
		<li>Bruce Katz</li>
		<li>Doreen Massey</li>
		<li>Anthony Townsend</li>
		<li>Peter Newman</li>
		<li>Nigel Thrift</li>
		<li>Herman L. Boschken</li>
		<li>John Allen</li>
	</ul></p>
	<h2>Selected Books</h2>
	<strong>Saskia Sassen</strong>
	<ul>
		<li>Territory, Authority, Rights: From Medieval to Global Assemblages. 2006. Princeton: Princeton University Press. ISBN 0-691-09538-8.  </li>
		<li>Cities in a world economy. 2006. Thousand Oaks, Calif. : Pine Forge Press. Updated 3rd ed. (original 1994) in the Series: Sociology for a new century. ISBN 1-4129-3680-2.</li>
		<li>The global city: New York, London, Tokyo. 2001. Princeton : Princeton University Press.  Updated 2nd ed. (original 1991). ISBN 0-691-07063-</li>
		<li>Losing control? Sovereignty in An Age of Globalization. 1996. New York: Columbia University Press. In the Series : University seminars — Leonard Hastings Schoff memorial lectures. ISBN 0-231-10608-4.</li>
	</ul>
	<strong>Manuel Castells</strong>
	<ul>
		<li>
The Rise of the Network Society, The Information Age: Economy, Society and Culture Vol. I. 1996. Cambridge, MA; 1996. Second edition 2000. Oxford, UK: Blackwell. ISBN 978-0631221401.
		</li>
	</ul>
	<strong>Richard Florida</strong>
	<ul>
		<li>Who's Your City?, 2008. ISBN 0465003524.
		</li>
		<li>The Flight of the Creative Class. The New Global Competition for Talent. 2005. HarperBusiness. HarperCollins. ISBN 0060756918.
		</li>
		<li>The Rise of the Creative Class. And How It's Transforming Work, Leisure and Everyday Life. 2002. Basic Books. ISBN 0465024777.
		</li>
	</ul>
	<strong>P. J. Taylor</strong>
	<ul>
		<li>World City Network: a Global Urban Analysis. 2004. London: Routledge.</li>
	</ul>
	<h2>Websites of Interest</h2>
	<ul>
<li>GaWC [<a href="http://www.lboro.ac.uk/gawc/" target="_blank">www.lboro.ac.uk/gawc/</a>]</li>
<li>Global City Forum [<a href="http://www.globalcityforum.com/" target="_blank">www.globalcityforum.com</a>]</li>
<li>New Geography [<a href="http://www.newgeography.com/" target="_blank">www.newgeography.com</a>]</li>
<li>UN Habitat [<a href="http://www.unhabitat.org/pmss/" target="_blank">www.unhabitat.org/pmss/</a>]</li>
<li>CEOs for Cities [<a href="http://www.ceosforcities.org/" target="_blank">www.ceosforcities.org</a>]</li>
<li>City Mayors [<a href="http://www.citymayors.com/" target="_blank">www.citymayors.com/</a>]</li>
<li>Organisation for Economic Cooperation Development [<a href="http://www.oecd.org/" target="_blank">www.oecd.org</a>]</li>
<li>Creative Class [<a href="http://www.creativeclass.org/" target="_blank">www.creativeclass.org</a>]</li>
<li>World Bank – Doing Business Reports – Subnational Projects [<a href="http://www.doingbusiness.org/Subnational/" target="_blank">www.doingbusiness.org/Subnational/</a>]</li>
<li>MEGACITIES [<a href="http://www.megacities.nl/" target="_blank">www.megacities.nl/</a>]</li>
<li>Europe Metropoles [<a href="http://www.europemetropoles.com/" target="_blank">www.europemetropoles.com/</a>]</li>
<li>Accenture Global City Forum [<a href="http://www.accenture.com/Global/Research_and_Insights/Institute_For_Public_Service_Value" target="_blank">www.accenture.com/Global/Research_and_Insights/Institute_For_Public_Service_Value</a>]</li>
<li>National League of Cities [<a href="http://www.nlc.org/" target="_blank">www.nlc.org/</a>]</li>
<li>Metropolis [<a href="http://www.metropolis.org/" target="_blank">www.metropolis.org</a>]</li>
<li>Global Cities Dialogue [<a href="http://www.globalcitiesdialogue.org/" target="_blank">www.globalcitiesdialogue.org</a>]</li>
<li>SENSEable City Lab (MIT) [<a href="http://senseable.mit.edu/" target="_blank">senseable.mit.edu/</a>]</li>
<li>CentreForCities [<a href="http://www.centreforcities.org/" target="_blank">www.centreforcities.org/</a>]</li>
<li>Brookings – Metropolitan Policy Program [<a href="http://www.brookings.edu/metro.aspx" target="_blank">www.brookings.edu/metro.aspx</a>]</li>
<li>European Spatial Planning Research &amp; Information Database (ESPRID) [<a href="http://www.esprid.org/" target="_blank">www.esprid.org</a>]</li>
<li>The Future of Cities [<a href="http://www.futureofcities.org/" target="_blank">www.futureofcities.org/</a>]</li>
<li>Metropolis Mag [<a href="http://www.metropolismag.com/" target="_blank">www.metropolismag.com</a>]</li>
<li>Cities Alliance [<a href="http://www.citiesalliance.org/" target="_blank">www.citiesalliance.org</a>]</li>
<li>City Journal [<a href="http://www-city-journal.org/" target="_blank">www-city-journal.org</a>]</li>
<li>Planetizen [<a href="http://www.planetizen.com/" target="_blank">www.planetizen.com</a>]</li>
<li>Next American City [<a href="http://www.americancity.org/" target="_blank">www.americancity.org</a>]</li>
<li>Villes 2.0 [<a href="http://www.villes2.fr/" target="_blank">www.villes2.fr</a>]</li>
<li>European Programme for Urban Sustainable Development [www.urbact.eu]</li>
<li>Visualizar [<a href="http://www.visualizar.org/" target="_blank">www.visualizar.org</a>]</li>
<li>Urban Age [<a href="http://www.urban-age.net/" target="_blank">www.urban-age.net</a>]</li>
<li>The Citistates Group LLC [<a href="http://www.citistates.com/" target="_blank">www.citistates.com</a>]</li>

	</ul>

{% endblock %}
